* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.contenedor {
    width:100vw;
    height:100vh;
    background-color: bisque;
    display:grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 150px 150px;
    justify-content:center;
    align-content: center;
    justify-items: center;
    align-items:center;
    grid-auto-flow: dense;
}

.caja {
    width: 100%;
    height: 100%;
    background-color: coral;
    text-align:center;
    border: 4px solid crimson;
}

.cajaBoton {
    width: 150px;
    height: 150px;
    text-align:center;
}

.cajaMorada 
{
    background-color:darkmagenta;
}